.body {
  background-color: azure;
}
.body-container {
  text-align: center;
}
.body-statement {
  font-size: 25px;
}
.button {
  margin: 25px;
}
#hidden {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
